@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
}

::selection {
    background-color: rgba(13, 127, 242, 0.2);
    color: #0d7ff2;
}